<ion-view title="Edit Account" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="editAccount-form3" class="list">
      <ion-item class="item-divider" id="editAccount-list-item-divider13"> Account Information</ion-item>
      <label class="item item-input" id="editAccount-input3">
        <span class="input-label">First</span>
        <input type="text" placeholder="Adam">
      </label>
      <label class="item item-input" id="editAccount-input4">
        <span class="input-label">Last</span>
        <input type="text" placeholder="Wolf">
      </label>
      <label class="item item-input" id="editAccount-input5">
        <span class="input-label">Phone</span>
        <input type="tel" placeholder="5616032997">
      </label>
    </form>
  </ion-content>
</ion-view>