<ion-view title="Payment" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="payment-list6" class="manual-list-fullwidth">
      <ion-item class="item-divider" id="payment-list-item-divider8"> Payment Methods</ion-item>
      <ion-item class="item-icon-left item-icon-right" id="payment-list-item16">
        <i class="icon ion-card"></i>*3862
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-divider" id="payment-list-item-divider9"> Add Credit Card</ion-item>
      <ion-item class="item-icon-left item-icon-right" id="payment-list-item18">
        <i class="icon ion-ios-plus-empty"></i>Add credit card
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-divider" id="payment-list-item-divider10"> Payment defaults</ion-item>
      <ion-item class="item-avatar item-icon-right" id="payment-list-item20">
        <img src="img/QhXXKOhESh6jez6xe8Ps_12647221_1273578842657338_7315410294501589313_n.jpg">
        <h2>Personal</h2>
        <p>*3862</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>