<ion-view title="Profile" id="page5">
  <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
    <div class="list card" id="profile-card21">
      <ion-item class="item-avatar item-icon-right" id="profile-list-item23" ui-sref="clownCar.editAccount">
        <img src="img/uMui2Ur6Tzma430eBWVN_12647221_1273578842657338_7315410294501589313_n.jpg">
        <h2>Adam Wolf</h2>
        <p>Joined January 2017</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
    </div>
    <ion-list id="profile-list9">
      <ion-item class="item-divider" id="profile-list-item-divider12"> Profile Information</ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="profile-list-item26">
        <i class="icon ion-ios-home"></i>612 N. 32nd St.
        <span class="item-note">Home</span>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="profile-list-item27">
        <i class="icon ion-ios-email"></i>akw54@drexel.edu
        <span class="item-note">Mail</span>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="profile-list-item24">
        <i class="icon ion-ios-telephone"></i>(561) 603-2997
        <span class="item-note">Cell</span>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>