<ion-view title="Ride History" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="rideHistory-list2">
      <ion-item class="item-avatar item-icon-right" id="rideHistory-list-item7">
        <img src="img/xLHHZdryST6HkdDZ4K8K_person.jpg">
        <h2>Jan 20 8:04 AM</h2>
        <p>2.7 mi • 14m</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="rideHistory-list-item8">
        <img src="img/hI8TYoIISVW7iANuuzF5_mark-zuckerberg.jpg">
        <h2>Jan 19 5:57 PM</h2>
        <p>2.5 mi • 15m</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="rideHistory-list-item9">
        <img src="img/DvzH0h43Q6edTbj7Eq5M_Kevin-Bacon.jpg">
        <h2>Jan 19 8:01 AM</h2>
        <p>3.2 mi • 16m</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="rideHistory-list-item12">
        <img src="img/TCVPjBIRlGGMPHXIzpXA_images.jpg">
        <h2>Jan 19 8:01 AM</h2>
        <p>5.1 mi • 22m</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="rideHistory-list-item13">
        <img src="img/NYB4TVKQnyan1P9zoFqs_ee90cd13ba02cfbfa55c1c523e530424.jpg">
        <h2>Jan 19 8:01 AM</h2>
        <p>2.1 mi • 11m</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>